body {
    margin: 0;
    padding: 0;
    }
  .wrapper {
    padding: 0;
    margin: 5vh auto;
    width: 70vw;
    height: 80vh;
    background-color: gray;
    display:flex;
    flex-direction: column;
    }
  input {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    }
  .slider {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
    display: flex;
    }
  
  .slides {
    margin: 0;
    padding: 0;
    height: 100%;
    transition: width ease-in-out 1s;
    }
  .slide1 {
    margin: 0;
    padding: 0;
    width: 0;
    background-color: purple;
    }
  .slide2 {
    margin: 0;
    padding: 0;
    width: 0;
    background-color: blue;
    }
  .slide3 {
  margin: 0;
  padding: 0;
  width: 0;
    background-color: pink;
  }
  
  .slide4 {
  margin: 0;
  padding: 0;
  width: 0;
    background-color: aqua;
  }
  
  .slide5 {
  margin: 0;
  padding: 0;
  width: 0;
    background-color: violet;
  }
    
  
  .slider-control {
    margin: 0;
    padding: 0;
    background-color: blue;
    display: flex;
    min-height: 40%;
    }
  .text{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    background-color: yellow;
    display: flex;
    font-size: 1.5rem;
    }
  .slider-t {
    margin: 0;
    padding: 0;
    width: 100%;
    }
  .slider-t1 {
  margin: 0;
  padding: 0;
  width: 0;
  opacity: 0;
  }
  .slider-t2 {
  margin: 0;
  padding: 0;
  width: 0;
  opacity: 0;
  }
  .slider-t3 {
  margin: 0;
  padding: 0;
  width: 0;
  opacity: 0;
  }
  .slider-t4 {
  margin: 0;
  padding: 0;
  width: 0;
  opacity: 0;
  }
  .slider-t5 {
  margin: 0;
  padding: 0;
  width: 0;
  opacity: 0;
  }
  
  .control {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 50%;
    background-color: lime;
    display: flex;
    align-items: flex-start;
    justify-content: end;
    }
  .control label {
    margin: 0.5rem 1rem 0 0 ;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    transition: background-color ease-in-out 0.5s;
    }
  .control label:hover {
    animation: hovercolor 2s infinite;   
    }
    @keyframes hovercolor {
        0% {
            background-color: gold;
        }
        50% {
            background-color: black;
        }
        100% {
            background-color: gold;
        }
    }
  .control label:after {
    border: 0.1rem solid blue;
    }
  .controllabel:hover, 
  #slide1:checked ~ .slider-control > .control > label:nth-of-type(1),
  #slide2:checked ~ .slider-control > .control > label:nth-of-type(2),
  #slide3:checked ~ .slider-control > .control > label:nth-of-type(3),
  #slide4:checked ~ .slider-control > .control > label:nth-of-type(4),
  #slide5:checked ~ .slider-control > .control label:nth-of-type(5) {
      background-color: blue;
  }
  
  #slide1:checked ~ .slider > .slide1,
  #slide2:checked ~ .slider > .slide2,
  #slide3:checked ~ .slider > .slide3,
  #slide4:checked ~ .slider > .slide4,
  #slide5:checked ~ .slider > .slide5 {
    width: 100%;
    }
    
  #slide1:checked ~ .slider-control > .text > .slider-t1,
  #slide2:checked ~ .slider-control > .text > .slider-t2,
  #slide3:checked ~ .slider-control > .text > .slider-t3,
  #slide4:checked ~ .slider-control > .text > .slider-t4,
  #slide5:checked ~ .slider-control > .text > .slider-t5 {
    animation: opwidth 1s linear;
    opacity: 1;
    width: 100%;
  }
  @keyframes opwidth {
    0% {
        opacity: 0;
        width: 0;
    }
    20%{
        opacity: 0.01;
        width: 90%;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@media (max-width: 768px){
    .slider-control {
        flex-direction: column-reverse;
    }

   .text {
       width: 100%;
       font-size: 1rem;
   }
   .control {
       width: 100%;
       align-items: center;
       justify-content: center;
   }
   .control label {
       margin: 0 0.5rem;
   }
}